<a href="https://colab.research.google.com/github/RiyaBorade/DMW_247/blob/main/dmw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np

data = {'NAME': ["A"," B","C","A","D"], 'AGE': [25, 40 , 30, 25,60], 'SALARY': [50000,None,300000,50000,40000]}
df = pd.DataFrame(data)
df

  NAME  AGE    SALARY
0    A   25   50000.0
1    B   40       NaN
2    C   30  300000.0
3    A   25   50000.0
4    D   60   40000.0

In [ ]:
 df.drop_duplicates()

  NAME  AGE    SALARY
0    A   25   50000.0
1    B   40       NaN
2    C   30  300000.0
4    D   60   40000.0

In [ ]:
AVG = df['SALARY'].mean()
df['SALARY'].fillna(AVG, inplace=True)
df

/tmp/ipython-input-35-2948412171.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SALARY'].fillna(AVG, inplace=True)

  NAME  AGE    SALARY
0    A   25   50000.0
1    B   40  110000.0
2    C   30  300000.0
3    A   25   50000.0
4    D   60   40000.0

In [ ]:
df['SALARY'] = df['SALARY'].fillna(AVG)

In [ ]:
df1 = pd.read_excel('/content/SY Data.xlsx')
df1

,Subject Registration Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Sr No,PRN No,Student Name,Year,Academic Year,Semester,Pattern,Division,Course Code,Course Name,Gender
1,1,124B1B034,TALREJA TANMAY DEVANAND,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
2,2,124B1B067,KURSANGE YASH SANTOSH,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
3,3,124B1B174,ZAREKAR SIDDHI KISHOR,SY,2025-26,1,2023,C,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Female
4,4,124B1B080,MEHUL SRINIVAS PYATI,SY,2025-26,1,2023,B,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
...,...,...,...,...,...,...,...,...,...,...,...
896,53,124B1G082,RAJPUT SOHAM INDRASING,SY,2025-26,1,NaN,B,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
897,54,124B1G071,MALUSARE NILAY UTTAM,SY,2025-26,1,NaN,B,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
898,55,124B1G120,GUNJAL ANUJ ANIL,SY,2025-26,1,NaN,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
899,56,124B1G141,BHOSALE YASH VIJAY,SY,2025-26,1,NaN,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
900,57,124B1G135,WAGHMARE ADITYA RAMKISAN,SY,2025-26,1,NaN,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male

In [ ]:
df1.head()

,Subject Registration Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Sr No,PRN No,Student Name,Year,Academic Year,Semester,Pattern,Division,Course Code,Course Name,Gender
1,1,124B1B034,TALREJA TANMAY DEVANAND,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
2,2,124B1B067,KURSANGE YASH SANTOSH,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
3,3,124B1B174,ZAREKAR SIDDHI KISHOR,SY,2025-26,1,2023,C,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Female
4,4,124B1B080,MEHUL SRINIVAS PYATI,SY,2025-26,1,2023,B,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901 entries, 0 to 900
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Subject Registration Report  901 non-null    object
 1   Unnamed: 1                   901 non-null    object
 2   Unnamed: 2                   901 non-null    object
 3   Unnamed: 3                   901 non-null    object
 4   Unnamed: 4                   901 non-null    object
 5   Unnamed: 5                   901 non-null    object
 6   Unnamed: 6                   776 non-null    object
 7   Unnamed: 7                   901 non-null    object
 8   Unnamed: 8                   901 non-null    object
 9   Unnamed: 9                   901 non-null    object
 10  Unnamed: 10                  901 non-null    object
dtypes: object(11)
memory usage: 77.6+ KB

In [ ]:
df1.describe()

,Subject Registration Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
count,901,901,901,901,901,901,776,901,901,901,901
unique,493,755,755,2,2,2,3,5,5,5,3
top,15,122B1B021,BANSODE PRAJWAL NANDKUMAR,SY,2025-26,1,2023,A,BSH23OE04,Open Elective: Statistical Data Analysis using R,Male
freq,4,3,3,900,900,900,711,367,492,492,592

In [ ]:
df1.isna()

,Subject Registration Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
896,False,False,False,False,False,False,True,False,False,False,False
897,False,False,False,False,False,False,True,False,False,False,False
898,False,False,False,False,False,False,True,False,False,False,False
899,False,False,False,False,False,False,True,False,False,False,False
900,False,False,False,False,False,False,True,False,False,False,False

In [ ]:
import numpy as np

In [ ]:
df1.isnull().sum()

Subject Registration Report      0
Unnamed: 1                       0
Unnamed: 2                       0
Unnamed: 3                       0
Unnamed: 4                       0
Unnamed: 5                       0
Unnamed: 6                     125
Unnamed: 7                       0
Unnamed: 8                       0
Unnamed: 9                       0
Unnamed: 10                      0
dtype: int64

In [ ]:
df1.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
896    False
897    False
898    False
899    False
900    False
Length: 901, dtype: bool

In [ ]:
df1.duplicated().sum()

np.int64(0)

In [ ]:
df1.drop_duplicates()

,Subject Registration Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Sr No,PRN No,Student Name,Year,Academic Year,Semester,Pattern,Division,Course Code,Course Name,Gender
1,1,124B1B034,TALREJA TANMAY DEVANAND,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
2,2,124B1B067,KURSANGE YASH SANTOSH,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
3,3,124B1B174,ZAREKAR SIDDHI KISHOR,SY,2025-26,1,2023,C,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Female
4,4,124B1B080,MEHUL SRINIVAS PYATI,SY,2025-26,1,2023,B,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
...,...,...,...,...,...,...,...,...,...,...,...
896,53,124B1G082,RAJPUT SOHAM INDRASING,SY,2025-26,1,NaN,B,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
897,54,124B1G071,MALUSARE NILAY UTTAM,SY,2025-26,1,NaN,B,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
898,55,124B1G120,GUNJAL ANUJ ANIL,SY,2025-26,1,NaN,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
899,56,124B1G141,BHOSALE YASH VIJAY,SY,2025-26,1,NaN,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
900,57,124B1G135,WAGHMARE ADITYA RAMKISAN,SY,2025-26,1,NaN,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male

In [ ]:
df1mode = df1['Unnamed: 6'].mode()
df1['Unnamed: 6'].fillna(df1mode, inplace=True)
df1

/tmp/ipython-input-47-3805523555.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Unnamed: 6'].fillna(df1mode, inplace=True)

,Subject Registration Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Sr No,PRN No,Student Name,Year,Academic Year,Semester,Pattern,Division,Course Code,Course Name,Gender
1,1,124B1B034,TALREJA TANMAY DEVANAND,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
2,2,124B1B067,KURSANGE YASH SANTOSH,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
3,3,124B1B174,ZAREKAR SIDDHI KISHOR,SY,2025-26,1,2023,C,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Female
4,4,124B1B080,MEHUL SRINIVAS PYATI,SY,2025-26,1,2023,B,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
...,...,...,...,...,...,...,...,...,...,...,...
896,53,124B1G082,RAJPUT SOHAM INDRASING,SY,2025-26,1,NaN,B,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
897,54,124B1G071,MALUSARE NILAY UTTAM,SY,2025-26,1,NaN,B,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
898,55,124B1G120,GUNJAL ANUJ ANIL,SY,2025-26,1,NaN,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
899,56,124B1G141,BHOSALE YASH VIJAY,SY,2025-26,1,NaN,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
900,57,124B1G135,WAGHMARE ADITYA RAMKISAN,SY,2025-26,1,NaN,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male

In [ ]:
df1mode = df1['Unnamed: 6'].mode()[0]
df1['Unnamed: 6'].fillna(df1mode, inplace=True)

/tmp/ipython-input-48-3192082556.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Unnamed: 6'].fillna(df1mode, inplace=True)

In [ ]:
df1

,Subject Registration Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Sr No,PRN No,Student Name,Year,Academic Year,Semester,Pattern,Division,Course Code,Course Name,Gender
1,1,124B1B034,TALREJA TANMAY DEVANAND,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
2,2,124B1B067,KURSANGE YASH SANTOSH,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
3,3,124B1B174,ZAREKAR SIDDHI KISHOR,SY,2025-26,1,2023,C,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Female
4,4,124B1B080,MEHUL SRINIVAS PYATI,SY,2025-26,1,2023,B,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
...,...,...,...,...,...,...,...,...,...,...,...
896,53,124B1G082,RAJPUT SOHAM INDRASING,SY,2025-26,1,2023,B,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
897,54,124B1G071,MALUSARE NILAY UTTAM,SY,2025-26,1,2023,B,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
898,55,124B1G120,GUNJAL ANUJ ANIL,SY,2025-26,1,2023,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
899,56,124B1G141,BHOSALE YASH VIJAY,SY,2025-26,1,2023,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
900,57,124B1G135,WAGHMARE ADITYA RAMKISAN,SY,2025-26,1,2023,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male

In [ ]:
df2=df1[0:]

In [ ]:
df2

,Subject Registration Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Sr No,PRN No,Student Name,Year,Academic Year,Semester,Pattern,Division,Course Code,Course Name,Gender
1,1,124B1B034,TALREJA TANMAY DEVANAND,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
2,2,124B1B067,KURSANGE YASH SANTOSH,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
3,3,124B1B174,ZAREKAR SIDDHI KISHOR,SY,2025-26,1,2023,C,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Female
4,4,124B1B080,MEHUL SRINIVAS PYATI,SY,2025-26,1,2023,B,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
...,...,...,...,...,...,...,...,...,...,...,...
896,53,124B1G082,RAJPUT SOHAM INDRASING,SY,2025-26,1,2023,B,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
897,54,124B1G071,MALUSARE NILAY UTTAM,SY,2025-26,1,2023,B,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
898,55,124B1G120,GUNJAL ANUJ ANIL,SY,2025-26,1,2023,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
899,56,124B1G141,BHOSALE YASH VIJAY,SY,2025-26,1,2023,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male
900,57,124B1G135,WAGHMARE ADITYA RAMKISAN,SY,2025-26,1,2023,C,BCE23OE01,Open Elective : Fundamentals of Database Manag...,Male

In [ ]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Sample data
students = [f"Student_{i+1}" for i in range(30)]
subjects = ['Maths', 'Physics', 'Chemistry', 'CS', 'Biology']
subject_type = {
    'Maths': 'Theory',
    'Physics': 'Theory',
    'Chemistry': 'Lab',
    'CS': 'Lab',
    'Biology': 'Theory'
}
dates = [datetime(2025, 8, 1) + timedelta(days=i) for i in range(5)]

# Generate dataset
data = []
for date in dates:
    for student in students:
        for subject in subjects:
            present = random.choice(['Present', 'Absent'])
            data.append({
                'Date': date.strftime('%Y-%m-%d'),
                'Student Name': student,
                'Subject': subject,
                'Subject Type': subject_type[subject],
                'Attendance': present
            })

df = pd.DataFrame(data)

# Calculate Total Attendance for each student
attendance_summary = (
    df[df['Attendance'] == 'Present']
    .groupby('Student Name')
    .size()
    .reset_index(name='Total Present')
)

# Merge into main DataFrame
df = df.merge(attendance_summary, on='Student Name', how='left')
df['Total Present'].fillna(0, inplace=True)
df['Total Present'] = df['Total Present'].astype(int)

# Save to CSV
csv_path = "/content/student_attendance_dataset.csv"
df.to_csv(csv_path, index=False)

print(f" Dataset created with {len(df)} rows and saved to:\n{csv_path}")

 Dataset created with 750 rows and saved to:
/content/student_attendance_dataset.csv

/tmp/ipython-input-2053569036.py:43: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Total Present'].fillna(0, inplace=True)

In [1]:
import pandas as pd
import numpy as np

In [12]:
df2 = pd.read_csv('/student_dataset_50_dirty.csv')

In [13]:
df2

,StudentID,Name,Age,Gender,Marks,Email,Course,Attendance (%),Passed
0,100,Rekha,20.0,FEMALE,95.0,rekha,B.Com,80.0,yes
1,101,Ravi,20.0,male,55.0,ravi,NaN,70.0,yes
2,102,Sahil,21.0,Other,95.0,sahil@yahoo.com,BCA,70.0,yes
3,103,Rekha,19.0,male,75.0,rekha@yahoo.com,BA,NaN,Yes
4,104,John,22.0,male,45.0,john@yahoo.com,BCA,70.0,yes
5,105,Priyanka,22.0,FEMALE,55.0,priyanka,B.Sc,70.0,no
6,106,Rekha,20.0,male,85.0,rekha@yahoo.com,B.Sc,90.0,Yes
7,107,Tina,22.0,FEMALE,95.0,tina@yahoo.com,B.Sc,60.0,yes
8,108,NaN,NaN,FEMALE,55.0,unknown@outlook.com,BA,90.0,No
9,109,Priyanka,21.0,FEMALE,55.0,priyanka@yahoo.com,BBA,70.0,No
10,110,Ravi,21.0,Female,45.0,ravi@gmail.com,BCA,NaN,NaN
11,111,Ravi,19.0,Male,75.0,ravi@yahoo.com,B.Com,80.0,NaN
12,112,Tina,21.0,male,85.0,tina@example,B.Com,80.0,NaN
13,113,Anjali,18.0,male,NaN,anjali@outlook.com,BA,90.0,no
14,114,Rekha,21.0,Male,45.0,rekha@example,BBA,NaN,Yes
15,115,Ravi,21.0,Female,95.0,ravi@outlook.com,B.Sc,90.0,Yes
16,116,John,22.0,Male,85.0,john,NaN,60.0,Yes
17,117,Tina,19.0,FEMALE,45.0,tina@gmail.com,NaN,70.0,yes
18,118,Priyanka,19.0,male,NaN,priyanka@example,B.Com,90.0,NaN
19,119,John,21.0,Female,65.0,john@yahoo.com,BA,60.0,yes
20,120,Ritika,22.0,Other,55.0,ritika@yahoo.com,B.Sc,90.0,no
21,121,John,NaN,Other,65.0,john@yahoo.com,BCA,60.0,Yes
22,122,Anjali,21.0,Male,85.0,anjali@yahoo.com,BA,90.0,yes
23,123,Priyanka,18.0,Male,85.0,priyanka@example,BCA,90.0,NaN
24,124,Anjali,20.0,Female,75.0,anjali@yahoo.com,B.Sc,NaN,no
25,125,Priyanka,19.0,FEMALE,95.0,priyanka@yahoo.com,BA,NaN,yes
26,126,Rohan,20.0,Other,55.0,rohan@example,B.Sc,80.0,NaN
27,127,Anjali,22.0,FEMALE,85.0,anjali,BCA,70.0,Yes
28,128,Ritika,19.0,Female,95.0,ritika@yahoo.com,BBA,70.0,no
29,129,Rohan,22.0,male,85.0,rohan,B.Com,70.0,NaN
30,130,Rekha,22.0,Other,75.0,rekha@outlook.com,BA,80.0,Yes
31,131,Sahil,21.0,FEMALE,75.0,sahil@example,BCA,NaN,Yes
32,132,Ritika,NaN,Other,75.0,ritika@yahoo.com,B.Com,80.0,No
33,133,John,19.0,Female,45.0,john,BCA,80.0,NaN
34,134,John,20.0,FEMALE,85.0,john@yahoo.com,BBA,90.0,yes
35,135,Rekha,22.0,FEMALE,95.0,rekha@outlook.com,B.Sc,90.0,NaN
36,136,Sahil,19.0,Other,45.0,sahil@yahoo.com,BCA,NaN,NaN
37,137,Aman,NaN,Other,75.0,aman@yahoo.com,BCA,NaN,yes
38,138,Anjali,19.0,male,45.0,anjali@outlook.com,NaN,80.0,NaN
39,139,Anjali,NaN,FEMALE,NaN,anjali,NaN,80.0,Yes
40,140,Ravi,19.0,Female,95.0,ravi@gmail.com,B.Sc,70.0,No
41,141,Anjali,20.0,male,55.0,anjali@yahoo.com,NaN,NaN,No
42,142,Ritika,18.0,Male,85.0,ritika,B.Com,90.0,No
43,143,Ritika,NaN,Male,65.0,ritika@yahoo.com,BBA,90.0,NaN
44,144,Priyanka,22.0,male,45.0,priyanka@yahoo.com,BBA,60.0,no
45,145,Tina,19.0,male,NaN,tina@yahoo.com,NaN,80.0,NaN
46,146,Sahil,18.0,Female,85.0,sahil@outlook.com,B.Sc,60.0,yes
47,147,Sahil,NaN,Female,45.0,sahil@yahoo.com,BA,80.0,no
48,148,Anjali,19.0,Other,NaN,anjali@yahoo.com,BA,60.0,no
49,149,Priyanka,18.0,male,85.0,priyanka@example,B.Com,80.0,no
50,127,Anjali,22.0,FEMALE,85.0,anjali,BCA,70.0,Yes
51,135,Rekha,22.0,FEMALE,95.0,rekha@outlook.com,B.Sc,90.0,NaN
52,140,Ravi,19.0,Female,95.0,ravi@gmail.com,B.Sc,70.0,No
53,138,Anjali,19.0,male,45.0,anjali@outlook.com,NaN,80.0,NaN
54,102,Sahil,21.0,Other,95.0,sahil@yahoo.com,BCA,70.0,yes

In [14]:
df2.tail()

,StudentID,Name,Age,Gender,Marks,Email,Course,Attendance (%),Passed
50,127,Anjali,22.0,FEMALE,85.0,anjali,BCA,70.0,Yes
51,135,Rekha,22.0,FEMALE,95.0,rekha@outlook.com,B.Sc,90.0,NaN
52,140,Ravi,19.0,Female,95.0,ravi@gmail.com,B.Sc,70.0,No
53,138,Anjali,19.0,male,45.0,anjali@outlook.com,NaN,80.0,NaN
54,102,Sahil,21.0,Other,95.0,sahil@yahoo.com,BCA,70.0,yes

In [15]:
df2.duplicated().sum()

np.int64(5)

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StudentID       55 non-null     int64
 1   Name            54 non-null     object
 2   Age             48 non-null     float64
 3   Gender          55 non-null     object
 4   Marks           50 non-null     float64
 5   Email           55 non-null     object
 6   Course          47 non-null     object
 7   Attendance (%)  46 non-null     float64
 8   Passed          40 non-null     object
dtypes: float64(3), int64(1), object(5)
memory usage: 4.0+ KB

In [17]:
df2.describe()

        StudentID        Age      Marks  Attendance (%)
count   55.000000  48.000000  50.000000       46.000000
mean   124.854545  20.208333  72.400000       76.956522
std     14.562023   1.383156  18.823563       10.513392
min    100.000000  18.000000  45.000000       60.000000
25%    112.500000  19.000000  55.000000       70.000000
50%    126.000000  20.000000  75.000000       80.000000
75%    137.500000  21.250000  85.000000       90.000000
max    149.000000  22.000000  95.000000       90.000000

In [18]:
df2.isna()

,StudentID,Name,Age,Gender,Marks,Email,Course,Attendance (%),Passed
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,True,True,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,True,True
11,False,False,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,True
13,False,False,False,False,True,False,False,False,False
14,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,True,False,False
17,False,False,False,False,False,False,True,False,False
18,False,False,False,False,True,False,False,False,True
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,True,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,True
24,False,False,False,False,False,False,False,True,False
25,False,False,False,False,False,False,False,True,False
26,False,False,False,False,False,False,False,False,True
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,True
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,True,False
32,False,False,True,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,True
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,True
36,False,False,False,False,False,False,False,True,True
37,False,False,True,False,False,False,False,True,False
38,False,False,False,False,False,False,True,False,True
39,False,False,True,False,True,False,True,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,True,True,False
42,False,False,False,False,False,False,False,False,False
43,False,False,True,False,False,False,False,False,True
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,True,False,True,False,True
46,False,False,False,False,False,False,False,False,False
47,False,False,True,False,False,False,False,False,False
48,False,False,False,False,True,False,False,False,False
49,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,True
52,False,False,False,False,False,False,False,False,False
53,False,False,False,False,False,False,True,False,True
54,False,False,False,False,False,False,False,False,False

In [19]:
df2.drop_duplicates()

,StudentID,Name,Age,Gender,Marks,Email,Course,Attendance (%),Passed
0,100,Rekha,20.0,FEMALE,95.0,rekha,B.Com,80.0,yes
1,101,Ravi,20.0,male,55.0,ravi,NaN,70.0,yes
2,102,Sahil,21.0,Other,95.0,sahil@yahoo.com,BCA,70.0,yes
3,103,Rekha,19.0,male,75.0,rekha@yahoo.com,BA,NaN,Yes
4,104,John,22.0,male,45.0,john@yahoo.com,BCA,70.0,yes
5,105,Priyanka,22.0,FEMALE,55.0,priyanka,B.Sc,70.0,no
6,106,Rekha,20.0,male,85.0,rekha@yahoo.com,B.Sc,90.0,Yes
7,107,Tina,22.0,FEMALE,95.0,tina@yahoo.com,B.Sc,60.0,yes
8,108,NaN,NaN,FEMALE,55.0,unknown@outlook.com,BA,90.0,No
9,109,Priyanka,21.0,FEMALE,55.0,priyanka@yahoo.com,BBA,70.0,No
10,110,Ravi,21.0,Female,45.0,ravi@gmail.com,BCA,NaN,NaN
11,111,Ravi,19.0,Male,75.0,ravi@yahoo.com,B.Com,80.0,NaN
12,112,Tina,21.0,male,85.0,tina@example,B.Com,80.0,NaN
13,113,Anjali,18.0,male,NaN,anjali@outlook.com,BA,90.0,no
14,114,Rekha,21.0,Male,45.0,rekha@example,BBA,NaN,Yes
15,115,Ravi,21.0,Female,95.0,ravi@outlook.com,B.Sc,90.0,Yes
16,116,John,22.0,Male,85.0,john,NaN,60.0,Yes
17,117,Tina,19.0,FEMALE,45.0,tina@gmail.com,NaN,70.0,yes
18,118,Priyanka,19.0,male,NaN,priyanka@example,B.Com,90.0,NaN
19,119,John,21.0,Female,65.0,john@yahoo.com,BA,60.0,yes
20,120,Ritika,22.0,Other,55.0,ritika@yahoo.com,B.Sc,90.0,no
21,121,John,NaN,Other,65.0,john@yahoo.com,BCA,60.0,Yes
22,122,Anjali,21.0,Male,85.0,anjali@yahoo.com,BA,90.0,yes
23,123,Priyanka,18.0,Male,85.0,priyanka@example,BCA,90.0,NaN
24,124,Anjali,20.0,Female,75.0,anjali@yahoo.com,B.Sc,NaN,no
25,125,Priyanka,19.0,FEMALE,95.0,priyanka@yahoo.com,BA,NaN,yes
26,126,Rohan,20.0,Other,55.0,rohan@example,B.Sc,80.0,NaN
27,127,Anjali,22.0,FEMALE,85.0,anjali,BCA,70.0,Yes
28,128,Ritika,19.0,Female,95.0,ritika@yahoo.com,BBA,70.0,no
29,129,Rohan,22.0,male,85.0,rohan,B.Com,70.0,NaN
30,130,Rekha,22.0,Other,75.0,rekha@outlook.com,BA,80.0,Yes
31,131,Sahil,21.0,FEMALE,75.0,sahil@example,BCA,NaN,Yes
32,132,Ritika,NaN,Other,75.0,ritika@yahoo.com,B.Com,80.0,No
33,133,John,19.0,Female,45.0,john,BCA,80.0,NaN
34,134,John,20.0,FEMALE,85.0,john@yahoo.com,BBA,90.0,yes
35,135,Rekha,22.0,FEMALE,95.0,rekha@outlook.com,B.Sc,90.0,NaN
36,136,Sahil,19.0,Other,45.0,sahil@yahoo.com,BCA,NaN,NaN
37,137,Aman,NaN,Other,75.0,aman@yahoo.com,BCA,NaN,yes
38,138,Anjali,19.0,male,45.0,anjali@outlook.com,NaN,80.0,NaN
39,139,Anjali,NaN,FEMALE,NaN,anjali,NaN,80.0,Yes
40,140,Ravi,19.0,Female,95.0,ravi@gmail.com,B.Sc,70.0,No
41,141,Anjali,20.0,male,55.0,anjali@yahoo.com,NaN,NaN,No
42,142,Ritika,18.0,Male,85.0,ritika,B.Com,90.0,No
43,143,Ritika,NaN,Male,65.0,ritika@yahoo.com,BBA,90.0,NaN
44,144,Priyanka,22.0,male,45.0,priyanka@yahoo.com,BBA,60.0,no
45,145,Tina,19.0,male,NaN,tina@yahoo.com,NaN,80.0,NaN
46,146,Sahil,18.0,Female,85.0,sahil@outlook.com,B.Sc,60.0,yes
47,147,Sahil,NaN,Female,45.0,sahil@yahoo.com,BA,80.0,no
48,148,Anjali,19.0,Other,NaN,anjali@yahoo.com,BA,60.0,no
49,149,Priyanka,18.0,male,85.0,priyanka@example,B.Com,80.0,no

In [24]:
df2['Marks'] = df2['Marks'].fillna(df2['Marks'].mean())

In [25]:
df2['Marks'] = df2['Marks'].fillna(df2['Marks'].mean())

In [26]:
df2['Attendance (%)'] = df2['Attendance (%)'].fillna(df2['Attendance (%)'].mean())

In [27]:
df2['Course'] = df2['Course'].fillna(df2['Course'].mode()[0])
df2['Name'] = df2['Name'].replace("", "Unknown")
df2['Passed'] = df2['Passed'].fillna(df2['Passed'].mode()[0])

In [28]:
df2

,StudentID,Name,Age,Gender,Marks,Email,Course,Attendance (%),Passed
0,100,Rekha,20.0,FEMALE,95.0,rekha,B.Com,80.000000,yes
1,101,Ravi,20.0,male,55.0,ravi,B.Sc,70.000000,yes
2,102,Sahil,21.0,Other,95.0,sahil@yahoo.com,BCA,70.000000,yes
3,103,Rekha,19.0,male,75.0,rekha@yahoo.com,BA,76.956522,Yes
4,104,John,22.0,male,45.0,john@yahoo.com,BCA,70.000000,yes
5,105,Priyanka,22.0,FEMALE,55.0,priyanka,B.Sc,70.000000,no
6,106,Rekha,20.0,male,85.0,rekha@yahoo.com,B.Sc,90.000000,Yes
7,107,Tina,22.0,FEMALE,95.0,tina@yahoo.com,B.Sc,60.000000,yes
8,108,NaN,NaN,FEMALE,55.0,unknown@outlook.com,BA,90.000000,No
9,109,Priyanka,21.0,FEMALE,55.0,priyanka@yahoo.com,BBA,70.000000,No
10,110,Ravi,21.0,Female,45.0,ravi@gmail.com,BCA,76.956522,yes
11,111,Ravi,19.0,Male,75.0,ravi@yahoo.com,B.Com,80.000000,yes
12,112,Tina,21.0,male,85.0,tina@example,B.Com,80.000000,yes
13,113,Anjali,18.0,male,72.4,anjali@outlook.com,BA,90.000000,no
14,114,Rekha,21.0,Male,45.0,rekha@example,BBA,76.956522,Yes
15,115,Ravi,21.0,Female,95.0,ravi@outlook.com,B.Sc,90.000000,Yes
16,116,John,22.0,Male,85.0,john,B.Sc,60.000000,Yes
17,117,Tina,19.0,FEMALE,45.0,tina@gmail.com,B.Sc,70.000000,yes
18,118,Priyanka,19.0,male,72.4,priyanka@example,B.Com,90.000000,yes
19,119,John,21.0,Female,65.0,john@yahoo.com,BA,60.000000,yes
20,120,Ritika,22.0,Other,55.0,ritika@yahoo.com,B.Sc,90.000000,no
21,121,John,NaN,Other,65.0,john@yahoo.com,BCA,60.000000,Yes
22,122,Anjali,21.0,Male,85.0,anjali@yahoo.com,BA,90.000000,yes
23,123,Priyanka,18.0,Male,85.0,priyanka@example,BCA,90.000000,yes
24,124,Anjali,20.0,Female,75.0,anjali@yahoo.com,B.Sc,76.956522,no
25,125,Priyanka,19.0,FEMALE,95.0,priyanka@yahoo.com,BA,76.956522,yes
26,126,Rohan,20.0,Other,55.0,rohan@example,B.Sc,80.000000,yes
27,127,Anjali,22.0,FEMALE,85.0,anjali,BCA,70.000000,Yes
28,128,Ritika,19.0,Female,95.0,ritika@yahoo.com,BBA,70.000000,no
29,129,Rohan,22.0,male,85.0,rohan,B.Com,70.000000,yes
30,130,Rekha,22.0,Other,75.0,rekha@outlook.com,BA,80.000000,Yes
31,131,Sahil,21.0,FEMALE,75.0,sahil@example,BCA,76.956522,Yes
32,132,Ritika,NaN,Other,75.0,ritika@yahoo.com,B.Com,80.000000,No
33,133,John,19.0,Female,45.0,john,BCA,80.000000,yes
34,134,John,20.0,FEMALE,85.0,john@yahoo.com,BBA,90.000000,yes
35,135,Rekha,22.0,FEMALE,95.0,rekha@outlook.com,B.Sc,90.000000,yes
36,136,Sahil,19.0,Other,45.0,sahil@yahoo.com,BCA,76.956522,yes
37,137,Aman,NaN,Other,75.0,aman@yahoo.com,BCA,76.956522,yes
38,138,Anjali,19.0,male,45.0,anjali@outlook.com,B.Sc,80.000000,yes
39,139,Anjali,NaN,FEMALE,72.4,anjali,B.Sc,80.000000,Yes
40,140,Ravi,19.0,Female,95.0,ravi@gmail.com,B.Sc,70.000000,No
41,141,Anjali,20.0,male,55.0,anjali@yahoo.com,B.Sc,76.956522,No
42,142,Ritika,18.0,Male,85.0,ritika,B.Com,90.000000,No
43,143,Ritika,NaN,Male,65.0,ritika@yahoo.com,BBA,90.000000,yes
44,144,Priyanka,22.0,male,45.0,priyanka@yahoo.com,BBA,60.000000,no
45,145,Tina,19.0,male,72.4,tina@yahoo.com,B.Sc,80.000000,yes
46,146,Sahil,18.0,Female,85.0,sahil@outlook.com,B.Sc,60.000000,yes
47,147,Sahil,NaN,Female,45.0,sahil@yahoo.com,BA,80.000000,no
48,148,Anjali,19.0,Other,72.4,anjali@yahoo.com,BA,60.000000,no
49,149,Priyanka,18.0,male,85.0,priyanka@example,B.Com,80.000000,no
50,127,Anjali,22.0,FEMALE,85.0,anjali,BCA,70.000000,Yes
51,135,Rekha,22.0,FEMALE,95.0,rekha@outlook.com,B.Sc,90.000000,yes
52,140,Ravi,19.0,Female,95.0,ravi@gmail.com,B.Sc,70.000000,No
53,138,Anjali,19.0,male,45.0,anjali@outlook.com,B.Sc,80.000000,yes
54,102,Sahil,21.0,Other,95.0,sahil@yahoo.com,BCA,70.000000,yes

In [29]:
df2['Gender'] = df2['Gender'].str.strip().str.lower()
gender_map = {
    'male': 'Male',
    'female': 'Female',
    'f': 'Female',
    'm': 'Male',
    'other': 'Other',
    'o': 'Other'
}

df2['Gender'] = df2['Gender'].map(gender_map)